{% include 'menu.html' %}


<div class="container">
    <div class="bg-light">
     <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js'></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

<h1 align="center">Forum Analysis</h1>
<br> <br>
<ol>
  <h2 align="center">No. of posts posted each month</h2><br>
  <div align="center">{% include 'bar_graph.html' %}</div>

  <br><br><br>
  <h2 align="center">No. of posts posted with different categories</h2><br>
  <div align="center">{% include 'line_graph.html' %}</div>

  <br><br><br>

  <div class="container" align="center">
    <div class="row">
      <div class="col-md-6">

    <h2 class= "count-text">Registered Users As of Today</h2><br>
    <i class="fa fa-book"><h1 class="timer count-title count-number" data-to="200" data-speed="1500">{{ registered_users[0] }}</h1></i>
      </div>

      <div class="col-md-6">

    <h2 class= "count-text">Total Number of Posts</h2><br>
    <i class="fa fa-book"><h1 class="timer count-title count-number" data-to="200" data-speed="1500">{{ no_of_posts[0] }}</h1></i>
      </div>
    </div>

  </div>


  <br><br><br>

  <h2 align="center">Type of Users</h2><br>
  <div align="center">{% include 'pie_chart.html' %}</div>

<br><br><br>
</ol>
</div>
</div>


{% include 'footer.html' %}


