{% include 'menu.html' %}

<div class="container">
	<div class="jumbotron">
		<h1 class="display-4">Create a Post</h1>
		<p class="lead">Tell the world anything</p>
		<hr class="my-4">
		<p>
			Please read the <a href="/">rules</a> before posting
		</p>
		<form>
			<div class="form-group row">
				<label for="postTitle" class="col-sm-2 col-form-label">Post
					Title:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="postTitle"
						value="Title">
				</div>
			</div>

			<div class="form-group row">
				<label for="category" class="col-sm-2 col-form-label">Category:</label>
				<div class="col-sm-10">
					<select id="category" class="form-control">
						
						<option selected value="base">Please Select</option>
						{% for category in category_list %}
						<option value="{{ category[0] }}">{{ category[1] }}</option>
						{% endfor %}
						
					</select>
				</div>
			</div>

			<div class="form-group row">
				<label for="postBody" class="col-sm-2 col-form-label">Body:</label>
				<div class="col-sm-10">
					<textarea class="w-100 form-control" id="postBody" rows="4"
						placeholder="Type some words"></textarea>
				</div>
			</div>
			<a type="submit" class="btn btn-primary" href="/post" role="button">Post</a>
		</form>
	</div>

	{% include 'error_layout.html' %} {% include 'footer.html' %}