{% include 'menu.html' %}
{% from "includes/_formhelpers.html" import render_field %}
<div class="container">

  <div class="jumbotron">
    <h1 class="display-4">Create a Post</h1>
    <p class="lead">Tell the world anything</p>
    <hr class="my-4">
    <p>Please read the <a href="/">rules</a> before posting</p>
    
    <form method="POST" action="">
      <div class="form-group row">
        <label for="category" class="col-sm-2 col-form-label">Category:</label>
        <div class="col-sm-10">
          <select id="category" name="category">
              {% for c in categories %}
                <option value="{{ c[0] }}">{{ c[1] }}</option>
              {% endfor %}
          </select>
        </div>
      </div>
      
      {{ render_field(form.title) }}  
      {{ render_field(form.body) }}
      
      <tr>
	     <td><p><input type="submit" class="btn btn-primary" value="Post"></p>
	     {% extends 'error_layout.html' %}</td>
	  </tr>
      
    </form>
  </div>
</div>
{% include 'error_layout.html' %}
{% include 'footer.html' %}