{% include 'menu.html' %}


<div class="container">
    {% block body %}
    {% if session['logged_in'] %}
    This site is a work in progress. Feel free to play around with the UI <a href="/view">here</a>
         {% else %}

    <div class="jumbotron">

        <h1 class="display-4" align="center">Welcome to this Generic Web Forum!</h1>
        <p class="lead" align="center">On this forum, you can create posts and converse with other fourm users</p>
        <hr class="my-4">
        {% if session['logged_in'] %}
          {% include 'error_layout.html' %}
        {% else %}
        <div align="center">
          <p>Create an account to get started</p>
          <a class="btn btn-primary btn-lg" href="register" role="button">Register</a>
        </div>
        {% endif %}
    </div>
     {% endif %}
     {% endblock %}

</div>


 <!– This will show the registered/unregistered users the posts without registration –>
    {% for post in view_posts %}
    <div class="container">
        <div class="card">
            <a href="#"><h5 class="card-title">{{ post[2] }}</h5></a>
            <div class="card-body">
                {{ post[3] }}
            </div>
        </div>
      </div>
        {% endfor %}


{% include 'error_layout.html' %}
{% include 'footer.html' %}
