{% include 'menu.html' %}

<div class="container">
  <div class="jumbotron">
      <h1 class="display-4">Post Title</h1>
      <p class="lead">Post Description</p>
      <hr class="my-4">
      <p>Posted by <a href="/">User</a></p>
  </div>

  <!– Next line will be used to dynamically generate the page based on how many posts are supposed to appear, but is commmented out for now –>
  {# for comment in comments #}
  {% for i in {1: 1, 2: 2, 3: 3} %}
  <div class="card">
    <h5 class="card-title">Username of Commenter {{ i }}</h5>
    <div class="card-body">
      Comment
    </div>
  </div>
  <hr>
  {% endfor %}
  <form>
    <textarea class="w-100" rows="4" placeholder="Leave a Comment"></textarea>
    <a type="submit" class="btn btn-primary" href="#" role="button">Comment</a>
  </form>
</div>

{% include 'error_layout.html' %}
{% include 'footer.html' %}
