{% include 'menu.html' %}

<div class="container">
<h1>Register</h1>
  <form method="POST" action="">
    <div class="form-group">
      Name: <input type="text" name="name"><br>
    </div>
    <div class="form-group">
      EMail: <input type="text" name="email"><br>
    </div>
    <div class="form-group">
      Password: <input type="text" name="password"><br>
    </div>
    <div class="form-group">
      Confirm Password: <input type="text" name="confirm"><br>
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
    {% extends 'error_layout.html' %}
  </form>
</div>
{% include 'footer.html' %}




