 <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                
                {% if session['logged_in'] %}
	                <li class="list-group-item list-group-item-light">
				   		<a class="navbar-brand" href="/view">Latest Post</a>
				    </li>
					<li class="list-group-item list-group-item-light">
				   		<a class="navbar-brand" href="/view?category=Sports">Sports</a>
				    </li>
				    <li class="list-group-item list-group-item-light">
				   		<a class="navbar-brand" href="/view?category=College">College</a>
				    </li>
				    <li class="list-group-item list-group-item-light">
				   		<a class="navbar-brand" href="/view?category=General">General</a>
				    </li>
                {% else %}       
	                <li class="list-group-item list-group-item-light">
				   		<a class="navbar-brand" href="/">Latest Post</a>
				    </li>
					<li class="list-group-item list-group-item-light">
				   		<a class="navbar-brand" href="/?category=Sports">Sports</a>
				    </li>
				    <li class="list-group-item list-group-item-light">
				   		<a class="navbar-brand" href="/?category=College">College</a>
				    </li>
				    <li class="list-group-item list-group-item-light">
				   		<a class="navbar-brand" href="/?category=General">General</a>
				    </li>
                {% endif %}
              </ul>
            </p>
          </div>
        </div>
