{% include 'menu.html' %}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Generic Web Fourm</h1>
        <p class="lead">Create posts and discuss with other users</p>
        <hr class="my-4">
        <p>Please read the <a href="">rules</a> before posting</p>
    </div>
    <div id="searchResults">
        {% block content %}
         {% include 'error_layout.html' %}
        <div class="search">
            <form action="/search" method="POST">
                <input type=text name=search value="{{ request.form.search}}"></br>
                <div class="actions"><input type=submit value="Search"></div>
        </div>

        {% for item in searched_posts %}
        {#% for i in item %#}
        <!-- <tr>
            <td>{{i}}</td><br> -->
            {#% endfor %#}

            <div class="card">
                <a href="/post"><h5 class="card-title">{{ item[2] }}</h5></a>
                <div class="card-body">
                    {{item[3]}}
                </div>
            </div>
        </tr>
        {% endfor %}

        </form>
    </div>


    {% endblock %}
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          <!– Next line will be used to dynamically generate the page based on how many posts are supposed to appear, but is commmented out for now –>
    {% for post in view_posts %}

      <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ '/name_click?user=' + post[7] }}">{{post[7]}}</a>
              <small class="text-muted" >{{post[5]}}</small><hr>
            </div>
            <h2><a class="article-title" href="/post">{{ post[2] }}</a></h2>
            <p class="article-content">{{ post[3] }}</p>
          </div>
        </article>

        {% endfor %}
        </div>
       {% include 'sidebar.html' %}
      </div>
    </main>

    <a class="btn btn-primary" href="/createPost" role="button">Create a Post</a>
</div>


{% include 'footer.html' %}
