{% include 'menu.html' %}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Generic Web Fourm</h1>
        <p class="lead">Create posts and discuss with other users</p>
        <hr class="my-4">
        <p>Please read the <a href="/">rules</a> before posting</p>
    </div>
    <div id="searchResults">
        {% block content %}
         {% include 'error_layout.html' %}
        <div class="search">
            <form action="/search" method="POST">
                <input type=text name=search value="{{ request.form.search}}">
                <select name="filter_by">
				  <option value="user">User</option>
				  <option value="category">Category</option>
				  <option value="text">Text</option>
				</select>
                </br>
                <div class="actions"><input type=submit value="Search"></div>
        </div>

        {% for item in searched_posts %}
        {#% for i in item %#}
        <!-- <tr>
            <td>{{i}}</td><br> -->
            {#% endfor %#}

            <div class="card">
                <a href="/post"><h5 class="card-title">{{ item[2] }}</h5></a>
                <div class="card-body">
                    {{item[3]}}
                </div>
            </div>
        </tr>
        {% endfor %}

        </form>
    </div>


    {% endblock %}
    <div id = "defaultResults">
        <!– Next line will be used to dynamically generate the page based on how many posts are supposed to appear, but is commmented out for now –>
        {% for post in view_posts %}
        <div class="card">
            <form action="/post">
                <button type="button submit" class="btn btn-link"><h5 class="card-title">{{ post[2] }}</h5></button>
                <input type="hidden" name="id" value="{{ post[0] }}">
            </form>
            <div class="card-body">
                {{ post[3] }}
            </div>
        </div>
        {% endfor %}
        <hr>
    </div>
    <a class="btn btn-primary" href="/createPost" role="button">Create a Post</a>
</div>


{% include 'footer.html' %}
